* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  display: flex;
  justify-content: center; }
  .header a {
    font-size: 18px !important; }
    .header a:hover {
      color: #f8077f !important;
      font-weight: bolder; }
  .header img {
    padding: 10px;
    justify-content: center; }
  .header .btn {
    color: black !important;
    border-color: #f8077f !important; }
    .header .btn:hover {
      background-color: #f8078054 !important; }
  .header nav {
    width: 100%; }
    .header nav .navbar .container-fluid {
      justify-content: center; }
    .header nav .nav-form {
      justify-content: end !important;
      margin: 10px; }
    .header nav .nav-item {
      padding: 10px; }

main .carousel {
  transition: all; }

main .img-oculta img {
  display: none; }

.main-nosotros img {
  width: 100%;
  height: auto; }

.main-nosotros h3,
.main-nosotros h1,
.main-nosotros p {
  text-align: center; }

.main-nosotros h3 {
  font-size: 28px; }

.main-nosotros h1 {
  font-size: 48px;
  color: #f8077f; }

.main-nosotros p {
  font-size: 24px; }

.main-tienda img {
  width: 100%; }

.contenedorProductos {
  border: #f8077f 2px solid;
  padding: 5px;
  text-align: center;
  margin: 5px; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  justify-content: center; }

.grid-container img {
  width: 300px; }

.titulo-store {
  font-size: 20px; }

.btnComprar {
  background-color: white;
  border-radius: 10%;
  width: 100px; }

.precio-store {
  font-size: 18px; }

.main-sucursales {
  background-color: #f8389817;
  display: block; }

.txtSuc h1,
.txtSuc h3 {
  text-align: center; }

.txtSuc h1 {
  font-size: 36px; }

.txtSuc h3 {
  font-size: 24px; }

.map {
  width: 100%; }

.main-contacto {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f756a9a4; }

.contNombre input {
  width: 300px;
  height: auto;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 0.375rem;
  border: none; }

.form-email {
  width: 300px;
  height: auto;
  margin: 10px;
  text-align: center; }

.form-control {
  padding: 10px;
  resize: none;
  text-align: center; }

.contEnviar {
  height: auto;
  margin: 10px;
  text-align: center;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: 5px; }

.btn-enviar {
  width: 100px;
  height: auto;
  background-color: white;
  border: none;
  border-radius: 0.375rem;
  align-content: center; }

.btn-enviar:hover {
  color: #f8077f;
  font-weight: bolder; }

.footer {
  height: 120px; }

.footer ul {
  list-style: none;
  display: flex;
  width: 100px;
  margin: 0 auto;
  justify-content: center;
  padding-top: 15px; }

.footer li {
  margin: 10px; }

@media (max-width: 1024px) {
  .main-index {
    height: 80vh; }
  .carouselExampleIndicators {
    margin-top: 2px;
    display: flex;
    align-content: center; } }

@media (max-width: 650px) {
  .header {
    display: inline-block !important; }
  main {
    height: 80%; }
    main .carousel {
      display: none !important; }
    main .img-oculta img {
      display: flex !important;
      width: 100%; }
  .grid-container {
    grid-template-columns: repeat(1, 1fr); }
  .nav-form {
    justify-content: start !important; }
  .main-index {
    height: 80%; } }

@media (max-width: 450px) {
  header {
    display: inline-block; }
  .navbar-brand img {
    width: 180px; }
  .nav-form {
    justify-content: start !important; }
  .contenedorProductos img {
    width: 200px; }
  .main-sucursales {
    display: block;
    margin-top: 20px; }
  .map {
    width: 100%;
    text-align: center; }
  .main-contacto {
    display: flex;
    justify-content: center; }
  .contNombre input {
    width: 300px;
    height: auto;
    margin: 20px;
    align-content: center; }
  .contEmail input {
    width: 100px;
    height: auto;
    margin: 20px; }
  .contComentario textarea {
    width: 100px;
    height: auto;
    margin: 20px; }
  .contEnviar input {
    width: 100px;
    height: auto;
    margin: 20px; }
  .footer li {
    margin: 3px; } }
