.main-nosotros img {
    width: 100%;
    height: auto;
}

.main-nosotros h3,
.main-nosotros h1,
.main-nosotros p {
    text-align: center;
}

.main-nosotros h3 {
    font-size: 28px;
}

.main-nosotros h1 {
    font-size: 48px;
    color: #f8077f;
}

.main-nosotros p {
    font-size: 24px;
}
