.main-contacto {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #f756a9a4;
}

.contNombre input {
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 0.375rem;
    border: none;
}

.form-email{
    width: 300px;
    height: auto;
    margin: 10px;
    text-align: center;
}


.form-control{
    padding: 10px;
    resize: none;
    text-align: center;
}

.contEnviar{
    height: auto;
    margin: 10px;
    text-align: center;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 5px;
}

.btn-enviar{
    width: 100px;
    height: auto;
    background-color: white;
    border: none;
    border-radius: 0.375rem;
    align-content: center;
}

.btn-enviar:hover{
    color: #f8077f;
    font-weight: bolder;
}